<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-container">
    <div class="container">
      <div class="title">News</div>
    </div>
  </div>

    <ion-card class="news-card" *ngFor="let news of newsData; index as i">
      <img class="news-img" [src]="news.urlToImage" onerror="this.onerror=null;this.src='../../assets/images/logo.jpg'" />
      <ion-card-header>
        <ion-card-title class="news-title">{{news.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <div class="news-subtitle">
        {{news.content}}
      </div>
      <ion-button color="warning" class="read-btn" [href]="news.url">Read More</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- <ion-virtual-scroll [items]="items" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;">
        <div>
          <ion-img [src]="item.imgSrc" [height]="item.imgHeight" [alt]="item.name"></ion-img>
        </div>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
      </ion-card>
    </ion-virtual-scroll> -->

</ion-content>
