.blog-card-title{
  font-size:20px;
}
.category-container{
  padding: 10px;
  overflow-x: auto;
  display: flex;
  .cat-btn{
    margin-right: 12px;
  }
}
.blog-link{
  text-decoration: none;
  color: #000;
}
.typeofdata{
  // background: #000;
  // margin-left: 8px;
  margin: 8px 0 8px 8px;
  font-weight: 600;


}