<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="category-container">
    <ion-button shape="round" size="small" [color]="cat === type ? 'primary' : 'secondary'" (click)="showNews(cat)" *ngFor="let cat of categoryType; index as i">{{cat}}</ion-button>
  </div>
  <div class="typeofdata">{{type}}</div>
  <ion-card class="blog-card" *ngFor="let blog of displayBlog; index as i">
    <a href="#!" class="blog-link">
      <ion-img class="awardImg" [src]="blog.img" onerror="this.onerror=null;this.src='../../assets/images/logo.jpg'"></ion-img>
      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <ion-card-title class="blog-card-title">{{blog.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>{{blog.subtitle}}
      </ion-card-content>
    </a>
  </ion-card>
</ion-content>
