.tool-title{
  display: flex;
  align-items: center;
  height: auto;
  padding-left: 8px;

  .logo{
    height: 40px;
    padding-right: 8px;
    display: inline-block;
  }
  .title{
    font-size: 16px;
    font-weight: 600;
  }
}
.position-relative{
  position: relative;
  top: 0;
  left: 0;
}
.insearch-icon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-card{
  padding: 0 8px;
  padding-top: 12px;

  .creative-card{
    width: auto;
    // height: 80px;
    padding: 8px;
    background-color: var(--background);
    margin: 0;
    .icon{
      // background-color: lighten($color: #000000, $amount: 0);
      // background-color: lighten(--background, 50);
      background-color: #00000021;
      height: 42px;
      width: 42px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 5px 0px rgba(148,147,147,0.75);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(148,147,147,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(148,147,147,0.75);
      
    }
    ion-icon {
      font-size: 22px;
      fill: #fff;
    }
    .text{
      color: #fff;
      font-size: 12px;
      margin-top: 12px;
      text-align: left;
      text-transform: uppercase;
      font-weight: 600;
    }
    
  }
  
}
.blog-container{
  .title-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-top: 32px;
    .title{
      font-size: 18px;
      font-weight: 500;
      color: #007BB6;

      span{
        font-weight: 700;
      }

    }
    .seeall{
      font-size: 12px;
      font-weight: 600;
      color: #3dc2ff;
    }
  }
  // .blog-slider{

  // }
}
.sport-card{
  .text{
    padding: 0 8px;
    color: #000;
    height: 60px;
    text-align: left;
    overflow: hidden;
    margin: 6px 0;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
  }
}
.awardImg{
  width: auto;
  height: 100%;

}